extends layout

block content
    h1(class='title') The Automated and Intelligent Hacking Detection System
    h3(class='title') Powered by sweat, tears, and some really dark magic.
    div(id='chart_div1')
    div(id='chart_div2')
    div(id='chart_div3')
    img(id='alert', src='images/alert.png', alt='Alert', class='light_fig')