extends layout

block content
    h1(class='title') The Automated and Intelligent Hacking Detection System
    h3(class='title') Powered by sweat, tears, and some really dark magic.
    canvas(id='chart1')
    img(id='alert', src='images/alert.png', alt='Alert', class='light_fig')
    div(id='log' class='log')

    script(type='text/javascript', src='/javascripts/log.js')
    script(type='text/javascript', src='/javascripts/charts.js')